<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="inside_head">
    <%= render :partial => 'spree/shared/head' %>
  </head>

  <!-- new -->

<body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">
<div class="top-nav">
  <div class="header container">

    <div class="logo">
      <a href="/">
        <%= image_tag 'frontend/logo.png', title: "Webwinkelenin", alt: "Webwinkelenin" %>
      </a>
    </div>

    <div class="header-right">
      <div class="shoppingbag">
        <%= render 'shared/minicart' %>
      </div>
    </div>

    <div class="language">
      <form action='#'>
        <%=
          select_tag :locale,
            options_for_select(
              {
                'Nederland' => 'nl',
                'Deutsch' => 'de',
                'English' => 'en'
              },
              params[:locale] || I18n.locale
            ),
            class: 'styled',
            onchange: "this.form.submit()"
        %>
      </form>
    </div>

    <ul class="topmenu" data-ng-controller="NavCtrl">
      <% if spree_current_user %>
        <li>
          <%= image_tag "frontend/user.png", class: "cart", alt: "user" %>
          <%= link_to Spree.t(:my_account), spree.account_path %>
        </li>
        <li>
          <%= link_to Spree.t(:logout), spree.logout_path %>
        </li>
      <% else %>
        <li>
          <%= image_tag "frontend/user.png", class: "cart", alt: "user" %>
          <%= link_to "Klant Login", spree.login_path %>
        </li>
        <li>
          <%= link_to "Register", spree.signup_path %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="container">
  <div class="mainmenu">
    <%= render partial: 'shared/main_menu' %>
  </div>
<div class="search">
  <!-- <form name="productsearchform" method="get"> -->
  <%= form_tag spree.products_path, method: :get do %>
    <!-- <input type="text" placeholder="Zoeken..." name="q" size="24" ng-model='q'> -->
    <%= search_field_tag :keywords, params[:keywords], placeholder: 'Zoeken...' %>
    <a href="#" class="fake_submit">
      <%= image_tag "frontend/search.png", alt: "Zoeken"  %>
    </a>
  <% end %>
  <!-- </form> -->

</div>

<div class='flash_notice' style='display: none'><%= flash_messages %></div>
<div class="usp" style="display: <%= ['spree/user_sessions', 'spree/user_registrations'].include?(params[:controller]) ? 'none' : 'block' %>">
  Gratis Verzending vanaf &euro; 50!&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Vóór 17 uur besteld morgen in huis&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Gratis retourneren&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Kies je afleverdatum
</div>

<div class="breadcrumb">
</div>
<div class="clearfix">
  <%= yield %>
</div>

<%= yield :templates %>

<div class="clearfix"></div>
<div class="footer">
  <div class="footer-menu">
    <%= render 'shared/wwi_footer' %>
  </div>
</div>

<div class="secondfooter">
  <ul class="secondfooter-links">
  <li><a href="/sitemap.xml.gz">Sitemap</a></li>
  <li>|</li>
  <li><a href="/about">Over ons</a></li>
  <li>|</li>
  <li><a href="/">Disclaimer</a></li>
  <li>|</li>
  <li><a href="/">Contact</a></li>
  </ul>

  <ul class="copyright">
    <li>Copyright (c) 2014&nbsp;&nbsp;|&nbsp;&nbsp;Powered by Online Exposure</li>
  </ul>
</div>
</div>

</div>

  <%= yield :bottom %>
<script>

function writeDollar ( ammount ) {
  ammount = ( 1.35 * parseFloat(ammount) );
  $("#dollar").text( '$' + ammount.toFixed(2) );
}

var current_currency = {
  'symbol': '$',
  'iso_code': 'USD'
}

function money_format(amount){
  return current_currency['symbol'] + amount + " " + current_currency['iso_code'];
}

$(function(){
  //search: price_range_any: [""]
  // Run noUiSlider
  $('.noUiSlider').noUiSlider({
    range: [0,150],
    start: [15,80],
    behaviour: 'extend-tap',
    handles: 2,
    step: 5,
    set: function(){
      debugger;
      $('[name="search[price_range_any][]"]').val( money_format($("#min-euro").val()) +" - "+ money_format($("#max-euro").val()) );
      $('#pricefilter').trigger('submit')
    },
    serialization: {
      to: [$("#min-euro"),
      $("#max-euro")]
    }
  });
});

</script>
<%= render :partial => 'spree/shared/google_analytics' %>
</body>
</html>
 <!--- end -->
