<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="inside_head">
    <%= render :partial => 'spree/shared/head' %>
  </head>

  <!-- new -->

<body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">
<div class="top-nav">
  <div class="header container">

    <div class="logo">
      <a href="/">
        <%= image_tag 'frontend/logo.png', title: "Webwinkelenin", alt: "Webwinkelenin" %>
      </a>
    </div>

    <div class="header-right">
      <div class="shoppingbag">
        <%= render 'shared/minicart' %>
      </div>
    </div>

    <div class="language">
      <form action='#'>
        <%=
          select_tag :locale,
            options_for_select(
              [
                ['Nederland', 'nl'],
                ['Deutsch', 'de'],
                ['English', 'en'],
              ],
              selected: I18n.locale
            ),
            class: 'styled',
            onchange: "this.form.submit()"
        %>
      </form>
    </div>

    <ul class="topmenu" data-ng-controller="NavCtrl">
      <% if spree_current_user %>
        <li>
          <%= image_tag "frontend/user.png", class: "cart", alt: "user" %>
          <%= link_to Spree.t(:my_account), spree.account_path %>
        </li>
        <li>
          <%= link_to Spree.t(:logout), spree.logout_path %>
        </li>
      <% else %>
        <li>
          <%= link_to "Klant Login", spree.login_path %>
        </li>
        <li>
          <%= link_to "Register", spree.signup_path %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="container">
  <div class="mainmenu">
  <ul>
    <li class="home"><%= link_to image_tag("frontend/home.png", alt: "Home"), spree.root_path %></li>
    <li><a href='/about'>Over ons</li>
    <li><a href="/products">Productcategorie</a></li>
    <li><a href="/products">Shop</a>
    <div id="foldoutmenu-2911" class="foldoutmenu">
    <div id="cats">

    <ul class="subcats">
      <li>
        <h3><a href="">Dames</a></h3>
        <ul>
          <li><h4><a href="#/products">New Arrivals</a></h4></li>
          <li><h4><a href="#/products">Sale</a></h4></li>
          <li><h4><a href="#/products">Schoenen</a></h4></li>
          <li><h4><a href="#/products">Jassen</a></h4></li>
          <li><h4><a href="#/products">Jurken</a></h4></li>
          <li><h4><a href="#/products">Tassen</a></h4></li>
          <li><h4><a href="#/products">Truien & Vesten</a></h4></li>
          <li><h4><a href="#/products">Tops</a></h4></li>
          <li><h4><a href="#/products">Jeans</a></h4></li>
          <li><h4><a href="#/products">Rokken</a></h4></li>
          <li><h4><a href="#/products">Broeken</a></h4></li>
          <li><h4><a href="#/products">Lingerie</a></h4></li>
        </ul>
      </li>
    </ul>

    <ul class="subcats">
      <li>
        <h3><a href="#/products">Heren</a></h3>
        <ul>
        <li><h4><a href="#/products">Sale</a></h4></li>
        <li><h4><a href="#/products">Schoenen</a></h4></li>
        <li><h4><a href="#/products">Jassen</a></h4></li>
        <li><h4><a href="#/products">Jurken</a></h4></li>
        <li><h4><a href="#/products">Tassen</a></h4></li>
        <li><h4><a href="#/products">Truien & Vesten</a></h4></li>
        <li><h4><a href="#/products">Tops</a></h4></li>
        <li><h4><a href="#/products">Jeans</a></h4></li>
        <li><h4><a href="#/products">Rokken</a></h4></li>
        <li><h4><a href="#/products">Broeken</a></h4></li>
        </ul>
      </li>
    </ul>

    <ul class="subcats">
      <li>
      <h3><a href="#/products">Kinderen</a></h3>
      <ul>
        <li><h4><a href="#/products">Sale</a></h4></li>
        <li><h4><a href="#/products">Schoenen</a></h4></li>
        <li><h4><a href="#/products">Jassen</a></h4></li>
        <li><h4><a href="#/products">Jurken</a></h4></li>
        <li><h4><a href="#/products">Tassen</a></h4></li>
        <li><h4><a href="#/products">Truien & Vesten</a></h4></li>
        <li><h4><a href="#/products">Tops</a></h4></li>
        <li><h4><a href="#/products">Jeans</a></h4></li>
        <li><h4><a href="#/products">Rokken</a></h4></li>
        <li><h4><a href="#/products">Broeken</a></h4></li>
      </ul>
      </li>
    </ul>

    <ul class="subcats">
      <li>
      <h3><a href="#/products">Accessoires</a></h3>
        <ul>
          <li><h4><a href="#/products">Sale</a></h4></li>
          <li><h4><a href="#/products">Schoenen</a></h4></li>
          <li><h4><a href="#/products">Jassen</a></h4></li>
          <li><h4><a href="#/products">Jurken</a></h4></li>
          <li><h4><a href="#/products">Tassen</a></h4></li>
          <li><h4><a href="#/products">Truien & Vesten</a></h4></li>
          <li><h4><a href="#/products">Tops</a></h4></li>
          <li><h4><a href="#/products">Jeans</a></h4></li>
          <li><h4><a href="#/products">Rokken</a></h4></li>
          <li><h4><a href="#/products">Broeken</a></h4></li>
        </ul>
      </li>
    </ul>

</div>
<div class="shadow"></div>
</div>

</li>
<li><a href="/">Storelocator</a></li>
</ul>
</div>
<div class="search">
  <!-- <form name="productsearchform" method="get"> -->
  <%= form_tag spree.products_path, method: :get do %>
    <!-- <input type="text" placeholder="Zoeken..." name="q" size="24" ng-model='q'> -->
    <%= search_field_tag :keywords, params[:keywords], placeholder: 'Zoeken...' %>
    <a href="#" class="fake_submit">
      <%= image_tag "frontend/search.png", alt: "Zoeken"  %>
    </a>
  <% end %>
  <!-- </form> -->

</div>

<div class='flash_notice'>
  <%= flash_messages %>
</div>
<div class="usp">
Gratis Verzending vanaf &euro; 50!&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Vóór 17 uur besteld morgen in huis&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Gratis retourneren&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Kies je afleverdatum
</div>

<div class="clearfix">
  <%= yield %>
</div>

<%= yield :templates %>

<div class="clearfix"></div>
<div class="footer">

<div class="footer-menu">

<div class="footer-block">
<h5>Collecties</h5>
<ul>
<li><a href="/">Damesmode</a></li>
<li><a href="/">Herenmode</a></li>
<li><a href="/">Accessoires</a></li>
<li><a href="/">Sale</a></li>
</ul>
</div>

<div class="footer-block">
<h5>Informatie</h5>
<ul>
<li><a href="/">Sed ut perspiciatis </a></li>
<li><a href="/">Unde omnis iste natus</a></li>
<li><a href="/">Error sit voluptatem</a></li>
<li><a href="/">Accusantium doloremque</a></li>
<li><a href="/">Laudantium</a></li>
<li><a href="/">Totam rem aperiam</a></li>
</ul>
</div>

<div class="footer-block">
<h5>Klantenservice</h5>
<ul>
<li><a href="/">Sed ut perspiciatis </a></li>
<li><a href="/">Unde omnis iste natus</a></li>
<li><a href="/">Error sit voluptatem</a></li>
<li><a href="/">Accusantium doloremque</a></li>
<li><a href="/">Laudantium</a></li>
<li><a href="/">Totam rem aperiam</a></li>
</ul>
</div>

<div class="footer-block">
<h5>Overig</h5>
<ul>
<li><a href="/">Sed ut perspiciatis </a></li>
<li><a href="/">Unde omnis iste natus</a></li>
<li><a href="/">Error sit voluptatem</a></li>
<li><a href="/">Accusantium doloremque</a></li>
<li><a href="/">Laudantium</a></li>
<li><a href="/">Totam rem aperiam</a></li>
</ul>
</div>

<div class="footer-block">
<h5>Webwinkelenin.nl</h5>
<ul>
<li>WWI Utrecht</li>
<li>WWI Amsterdam</li>
<li>WWI Rotterdam</li>
<li>&nbsp;</li>
<li>Ma t/m vrij 10.00 - 21.00 uur</li>
<li>Zat 10.00 - 17.00 uur</li>
<li>&nbsp;</li>
<li>Amsterdam & Utrecht:</li>
<li>(maandag gesloten)</li>
</ul>
</div>

</div>

</div>




<div class="secondfooter">

<ul class="secondfooter-links">

<li><a href="/">Sitemap</a></li>
<li>|</li>
<li><a href="/">Over ons</a></li>
<li>|</li>
<li><a href="/">Disclaimer</a></li>
<li>|</li>
<li><a href="/">Contact</a></li>
</ul>

<ul class="copyright">
  <li>Copyright (c) 2014&nbsp;&nbsp;|&nbsp;&nbsp;Powered by Online Exposure</li>
</ul>

</div>
</div>

</div>

  <%= yield :bottom %>
<script>
function writeDollar ( ammount ) {
  ammount = ( 1.35 * parseFloat(ammount) );
  $("#dollar").text( '$' + ammount.toFixed(2) );
}

$(function(){

  // Run noUiSlider
  $('.noUiSlider').noUiSlider({
     range: [0,100]
    ,start: [20,80]
    ,behaviour: 'extend-tap'
    ,handles: 2
    ,serialization: {
      to: [$("#min-euro"),
      $("#max-euro")]

    }
  });
});

</script>
<%= render :partial => 'spree/shared/google_analytics' %>
</body>
</html>
 <!--- end -->
