<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @order } %>
<table id="cart-detail" class='orders'>
  <thead>
    <tr data-hook="cart_items_headers">
      <th class="cart-item-description-header" colspan="2"><%= Spree.t(:item) %></th>
      <th class="cart-item-price-header"><%= Spree.t(:price) %></th>
      <th class="cart-item-quantity-header"><%= Spree.t(:qty) %></th>
      <th class="cart-item-total-header"><%= Spree.t(:total) %></th>
      <th class="cart-item-delete-header"></th>
    </tr>
  </thead>
  <tbody id="line_items" data-hook>
    <%= render partial: 'line_item', collection: order_form.object.line_items, locals: {order_form: order_form} %>
  </tbody>

  <tr>
    <td colspan="6" align='right'>
      <div class='coupon_form'>
        <%= order_form.text_field :coupon_code, :size => 10, :class => "opc-input-text", :placeholder => Spree.t(:coupon_code) %>
        <%= button_tag :class => 'primary', :id => 'update-button' do %>
          <%= Spree.t(:update) %>
        <% end %>
      </div>
    </td>
  </tr>

  <% if @order.adjustments.exists? || @order.line_item_adjustments.exists? || @order.shipment_adjustments.exists? %>
    <tr class="cart-subtotal">
      <td colspan="4" align='right'><h5><%= Spree.t(:cart_subtotal, :count => @order.line_items.sum(:quantity)) %></h5></th>
      <td colspan><h5><%= order_form.object.display_item_total %></h5></td>
      <td></td>
    </tr>
    <%= render "spree/orders/adjustments" %>
  <% end %>
  <tr class="cart-total">
    <td colspan="3"></td>
    <td  align='left'>
      <h2><%= Spree.t(:total) %></h2>
    </td>
    <td><span><%= order_form.object.display_total %></span></td>
    <td></td>
  </tr>
</table>
