<div class="breadcrumb">
  <a href="/">Home</a>&nbsp;&raquo;&nbsp;<%= Spree.t(:shopping_cart) %>
</div>

<% @body_id = 'cart' %>
<div data-hook="cart_container" class='block cart_container'>
  <h1 class="page-title"><%= Spree.t(:shopping_cart) %></h1>

  <% if @order.line_items.empty? %>

    <div data-hook="empty_cart">
      <p align="center"><%= Spree.t(:your_cart_is_empty) %></p>
      <br/>
      <br/>
      <br/>
      <p align="center">
        <%= link_to "&#9668;#{Spree.t(:continue_shopping)}".html_safe, products_path, :class => 'continue button gray' %>
      </p>
    </div>

  <% else %>
    <%= form_for @order, :url => update_cart_path, :html => {:id => 'update-cart'} do |order_form| %>
    <div data-hook="outside_cart_form">

        <div data-hook="inside_cart_form">

          <div data-hook="cart_items">
            <%= render :partial => 'form', :locals => { :order_form => order_form } %>
          </div>
        </div>

    </div>

    <div class='cart_actions'>
      <div class='left'>
        <%= link_to "&#9668;#{Spree.t(:continue_shopping)}".html_safe, products_path, :class => 'continue button gray' %>
      </div>
      <div class='right'>
        <%= button_tag :class => 'main-button', :id => 'checkout-link', :name => 'checkout' do %>
          <%= Spree.t(:checkout) %>
        <% end %>
      </div>
      <div class='clearfix'></div>
    </div>
    <% end %>
  <% end %>
</div>
