<h3><%= Spree.t(:order_summary) %></h3>

<table data-hook="order_summary">
  <tbody>
    <tr data-hook="item_total">
      <td><strong><%= Spree.t(:item_total) %>:</strong></td>
      <td><strong><%= order.display_item_total.to_html %></strong></td>
    </tr>

    <% if order.line_item_adjustments.exists? %>
      <tbody data-hook="order_details_promotion_adjustments">
        <% order.line_item_adjustments.promotion.eligible.group_by(&:label).each do |label, adjustments| %>
          <tr class="total">
            <td><%= label %></td>
            <td><%= Spree::Money.new(adjustments.sum(&:amount), currency: order.currency).to_html %></td>
          </tr>
        <% end %>
      </tbody>
    <% end %>

    <tbody data-hook="order_details_tax_adjustments">
      <% order.all_adjustments.tax.eligible.group_by(&:label).each do |label, adjustments| %>
        <tr class="total">
          <td><%= label %></td>
          <td><%= Spree::Money.new(adjustments.sum(&:amount), currency: order.currency).to_html %></td>
        </tr>
      <% end %>
    </tbody>

    <% if order.checkout_steps.include?("delivery") && order.shipments.any? %>
      <tr data-hook="shipping_total">
        <td><%= Spree.t(:shipping_total) %></td>
        <td><%= Spree::Money.new(order.shipments.to_a.sum(&:cost), currency: order.currency).to_html %></td>
      </tr>

      <% if order.shipment_adjustments.exists? %>
        <tbody data-hook="order_details_shipment_promotion_adjustments">
          <% order.shipment_adjustments.promotion.eligible.group_by(&:label).each do |label, adjustments| %>
            <tr class="total">
              <td><%= label %></td>
              <td><%= Spree::Money.new(adjustments.sum(&:amount), currency: order.currency).to_html %></td>
            </tr>
          <% end %>
        </tbody>
      <% end %>
    <% end %>

    <% if order.adjustments.eligible.exists? %>
      <tbody id="summary-order-charges" data-hook>
        <% order.adjustments.eligible.each do |adjustment| %>
        <% next if (adjustment.source_type == 'Spree::TaxRate') and (adjustment.amount == 0) %>
          <tr class="total">
            <td><%= adjustment.label %>: </td>
            <td><%= adjustment.display_amount.to_html %></td>
          </tr>
        <% end %>
      </tbody>
    <% end %>

    <tr data-hook="order_total">
      <td><strong><%= Spree.t(:order_total) %>:</strong></td>
      <td><strong><span id='summary-order-total'><%= order.display_total.to_html %></span></strong></td>
    </tr>
  </tbody>
</table>


<div class="order-summary" disabled-data-access-level='accessLevels.user'>
  <h3 class="sidebox-title">Samenvatting Bestelling</h3>

  <div class="sidebox-body">
    <div class="checkout-summary">
      <table>
        <tbody class="tbody">
          <tr>
          <td>{{ order.line_items.length }} item(s)</td>
          <td class="right">
          <span>&euro;{{ order.total_amount }}</span>
          </td>
          </tr>
          <tr>
          <td colspan="2">
            <div class="code-input discount-coupon">
              <!-- <form action="" method="post"> -->
                <div class="control-group input-append">
                <label for="coupon_field">Coupon code</label>
                <input class="opc-input-text" size="40" value="" placeholder="Vul coupon code hier in..." type="text">
                </div>
              <!-- </form> -->
            </div>
          </td>
          </tr>
        </tbody>
        <tbody class="total">
          <tr>
            <th colspan="2">
            Shipping cost
            <span class="total-sum">Free</span>
            </th>
          </tr>
          <tr>
            <th colspan="2">
              Totaal
              <span class="total-sum">&euro;{{ order.total_amount }}</span>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="opc-sidebox order-products">
  <h3 class="sidebox-title">Producten in uw bestelling</h3>
  <div class="sidebox-body">
    <ul class="order-product-list" ng-repeat="line_item in order.line_items">
      <li data-id="{{ line_item.id }}" data-price="{{ line_item.price }}">
        <a href="" class="product-name">{{ line_item.name }}</a>
        <a href="" class="delete"> X</a>
        <span class="product-price">{{ line_item.quantity }}&nbsp;x&nbsp;&euro;{{ line_item.price * line_item.quantity }}</span>
      </li>
    </ul>
  </div>
</div>
