<div class="breadcrumb">
  <a href="/">Home</a>&nbsp;&raquo;&nbsp;One Page Checkout
</div>

<div id="checkout" class="content" data-hook>
  <div class="opcbox-main clearfix">

    <h1 class="page-title"><%= Spree.t(:checkout) %></h1>

    <div class="opcbox-body">
      <div class="checkout-steps clearfix">
        <%= form_for @order, :url => update_checkout_path(@order.state), :html => { :id => "checkout_form_#{@order.state}" } do |form| %>
          <% unless @order.email? %>
            <p class="field" style='clear: both'>
              <%= form.label :email %><br />
              <%= form.text_field :email %>
            </p>
          <% end %>
          <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @order } %>
          <%= render @order.state, :form => form %>
        <% end %>
      </div>
    </div>
  </div>

  <%# if ['confirm', 'delivery'].exclude?(@order.state) %>
    <%#= render :partial => 'summary', :locals => { :order => @order } %>
  <%# end %>
</div>

<script>
Spree.current_order_id = "<%= @order.number %>"
Spree.current_order_token = "<%= @order.guest_token %>"
</script>

<% if I18n.locale != :en %>
  <script src="<%= assets_prefix %>/jquery.validate/localization/messages_<%= I18n.locale.to_s.downcase.gsub("-", "") %>.js"></script>
<% end %>
