<div class="breadcrumb">
  <a href="/">Home</a>&nbsp;&raquo;&nbsp;One Page Checkout
</div>

<div class="content">
  <div class="opcbox-main clearfix">

    <h1 class="page-title">One Page Checkout</h1>

    <div class="opcbox-body">
      <div class="checkout-steps clearfix">

        <div class="step-container active">
          <h2 class="step-title clearfix active">
            <span class="step-number">1</span>Inloggen</a>
          </h2>

          <div class="step-body">
            <div class="clearfix">
              <div class="login-form">
                <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>
                <%= render template: 'spree/user_sessions/new' %>

                <% if Spree::Config[:allow_guest_checkout] %>
                  <div id="guest_checkout" class="checkout-register" data-hook class="columns omega eight">
                    <h6><%= Spree.t(:guest_user_account) %></h6>
                    <% if flash[:registration_error] %>
                      <div class='flash error'><%= flash[:registration_error] %></div>
                    <% end %>
                    <%= form_for @order, :url => update_checkout_registration_path, :method => :put, :html => { :id => 'checkout_form_registration' } do |f| %>
                      <ul class="register-methods">
                        <li>
                          <%= f.label :email, Spree.t(:email) %><br />
                          <%= f.email_field :email, :class => 'title' %>
                        </li>
                      </ul>
                      <div class="checkout-buttons">
                        <%= f.submit Spree.t(:continue), :class => 'main-button' %>
                      </div>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>

            <div class="clear"></div>
          </div>
        </div>

        <div class="step-container">
          <h2 class="step-title clearfix">
            <span class="step-number">2</span><a class="title">Factuur-en verzendadres een factureringsopties</a>
          </h2>

          <div class="step-body">
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="order-summary" disabled-data-access-level='accessLevels.user'>
    <h3 class="sidebox-title">Samenvatting Bestelling</h3>

    <div class="sidebox-body">
      <div class="checkout-summary">
        <table>
          <tbody class="tbody">
            <tr>
            <td>{{ order.line_items.length }} item(s)</td>
            <td class="right">
            <span>&euro;{{ order.total_amount }}</span>
            </td>
            </tr>
            <tr>
            <td colspan="2">
              <div class="code-input discount-coupon">
                <!-- <form action="" method="post"> -->
                  <div class="control-group input-append">
                  <label for="coupon_field">Coupon code</label>
                  <input class="opc-input-text" size="40" value="" placeholder="Vul coupon code hier in..." type="text">
                  </div>
                <!-- </form> -->
              </div>
            </td>
            </tr>
          </tbody>
          <tbody class="total">
            <tr>
              <th colspan="2">
              Shipping cost
              <span class="total-sum">Free</span>
              </th>
            </tr>
            <tr>
              <th colspan="2">
                Totaal
                <span class="total-sum">&euro;{{ order.total_amount }}</span>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="opc-sidebox order-products">
    <h3 class="sidebox-title">Producten in uw bestelling</h3>
    <div class="sidebox-body">
      <ul class="order-product-list" ng-repeat="line_item in order.line_items">
        <li data-id="{{ line_item.id }}" data-price="{{ line_item.price }}">
          <a href="" class="product-name">{{ line_item.name }}</a>
          <a href="" class="delete"> X</a>
          <span class="product-price">{{ line_item.quantity }}&nbsp;x&nbsp;&euro;{{ line_item.price * line_item.quantity }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
