<div class="breadcrumb">
  <% if "spree/products" == params[:controller] && @taxon %>
    <%= breadcrumbs(@taxon) %>
  <% else %>
    <a href="/">Home</a>&nbsp;&raquo;&nbsp;
    <% if @products.any? && params.key?(:search) && params[:search][:supplier_id] %>
    <a href='/shops'>Winkels</a>
    &nbsp;&raquo;&nbsp;
    <%= @products.first.supplier.name %>
    <% else %>
    PRODUCTCATEGORIE
    <% end %>
  <% end %>
</div>

<% dynamic_block = Spree::Page.where(slug: '/advertise').first %>

<div class="rightbox">
  <% if dynamic_block && dynamic_block.visible %>
    <%= dynamic_block.body %>
  <% end %>

  <% if params[:keywords] %>

    <div data-hook="search_results">
      <% if @products.empty? %>
        <h6 class="search-results-title"><%= Spree.t(:no_products_found) %></h6>
      <% else %>
        <%= render :partial => 'shared/products', :locals => { :products => @products, :taxon => @taxon } %>
      <% end %>
    </div>

  <% else %>

    <div data-hook="homepage_products">
      <%= render :partial => 'shared/products', :locals => { :products => @products, :taxon => @taxon } %>
    </div>
  <% end %>
</div>

<div class="sidebar">
  <div class="location">
    <% if @products.any? && params.key?(:search) && params[:search][:supplier_id] %>
    <h4>Winkels</h4>
    <ul class="categories">
      <% Spree::Supplier.all.each do |supplier| %>
        <li>
          <%= link_to supplier.name, spree.products_path(search: {supplier_id: supplier.id}), class: params[:search][:supplier_id] == supplier.id.to_s ? 'active' : '' %>
        </li>
      <% end %>
    </ul>
    <% else %>
      <h4>Choose your city</h4>
      <%= form_tag spree.products_path, :method => :get, id: "cityfilter" do %>
        <select class="styled" name="search[city]">
          <option value="" selected="selected">All</option>
          <!-- fake_submit -->
          <%= options_for_select(Spree::Supplier.all.collect(&:city).uniq, params[:search] && params[:search][:city]) %>
        </select>
      <% end %>
      <!-- <img src="/assets/frontend/logo_hilversum.jpg" alt="Hilversum" /> -->

    <% end %>
  </div>

  <%= render :partial => 'spree/shared/taxonomies' %>
  <%= render :partial => 'shared/price_filter' %>
</div>
