<div class="breadcrumb">
  <% if "spree/products" == params[:controller] && @taxon %>
    <%= breadcrumbs(@taxon) %>
  <% else %>
    <a href="/">Home</a>&nbsp;&raquo;&nbsp;PRODUCTCATEGORIE
  <% end %>
</div>

<% dynamic_block = Spree::Page.where(slug: '/advertise').first %>

<div class="rightbox">
  <% if dynamic_block && dynamic_block.visible %>
    <%= dynamic_block.body %>
  <% end %>

  <% if params[:keywords] %>

    <div data-hook="search_results">
      <% if @products.empty? %>
        <h6 class="search-results-title"><%= Spree.t(:no_products_found) %></h6>
      <% else %>
        <%= render :partial => 'shared/products', :locals => { :products => @products, :taxon => @taxon } %>
      <% end %>
    </div>

  <% else %>

    <div data-hook="homepage_products">
      <%= render :partial => 'shared/products', :locals => { :products => @products, :taxon => @taxon } %>
    </div>
  <% end %>
</div>

<div class="sidebar">
  <div class="location">
    <h4>Choose your city</h4>
    <select class="styled">
      <option value="">All</option>
      <%= options_for_select(Spree::Supplier.all.collect(&:city).uniq) %>
    </select>
    <!-- <img src="/assets/frontend/logo_hilversum.jpg" alt="Hilversum" /> -->
  </div>

  <%= render :partial => 'spree/shared/taxonomies' %>

  <h4>Prijs</h4>

  <%= form_tag '', :method => :get, :id => "pricefilter" do %>
    <div class="priceblock">
      <input type='hidden' name='search[price_range_any][0]'/>
      <input type='hidden' name='search[price_range_any][1]'/>
      <div class="noUiSlider"></div>
      <input id="min-euro" type="text"/>
      <input id="max-euro" type="text"/>

      <div class="clearfix"></div>

      <div class="filter-reset">
        <%= image_tag('frontend/reset.png') %>
        <%= link_to 'Reset filter', '/products', rel: 'no-follow' %>
      </div>
    </div>
  <% end %>

</div>
