<div id='helper'></div>

<div class="breadcrumb">
  <a href="/">Home</a>&nbsp;&raquo;&nbsp;
  <% @product.taxons.each do |taxon| %>
    &nbsp;&raquo;&nbsp;<%= link_to taxon.name, seo_url(taxon) %>
  <% end %>
</div>

<% cache [I18n.locale, current_currency, @product] do %>

<div class="content">
  <div class="product-images">
    <a class="terug-link" href="/products">«&nbsp;Terug naar overzicht</a>

    <div class="thumbnails" class="">
      <div class="up-arrow"><span class="thumbnails-arrow"></span></div>

      <%= render :partial => 'thumbnails' %>
    </div>

    <div class="large-image">
      <%= render :partial => 'image' %>
      <br />
      Klik om te zoomen
      </div>

    </div>

    <div class="product-info"
         data-id='<%= @product.id %>'
         data-url='<%= @product.slug %>'
         data-name='<%= @product.name %>'
         data-price='<%= @product.master.price %>'
         data-variant-id='<%= @product.master.id %>'
         data-image-url='<%= @product.variant_images.first.attachment.url(:mini) %>'>

      <div class="product-details">
        <h1 class="product-title" itemprop="name"><%= accurate_title %></h1>
        <% taxon = @product.taxons.select{|t| t.parent.name == 'Brand'}.first %>
        <h2><%= link_to taxon.name, taxon.permalink %></h2>

        <span class="price strike"><%= @product.strike_price %> EUR </span>&nbsp;&nbsp;
        <span itemprop="price" class="price discount"><%= display_price(@product) %></span>
        <span itemprop="priceCurrency" content="<%= @product.currency %>"></span>
        <span class="tax">incl. BTW</span>

        <% if @product.master.can_supply? %>
          <link itemprop="availability" href="http://schema.org/InStock" />
        <% elsif @product.variants.empty? %>
          <br />
          <span class="out-of-stock"><%= Spree.t(:out_of_stock) %></span>
        <% end %>
      </div>

      <div class="description" itemprop="description">
        <span>Beschrijving</span><br />
        <%= product_description(@product) rescue Spree.t(:product_has_no_description) %>
      </div>

      <div class="viewmore product-actions-wrapper">
        <span class="response-message"></span>
        <%= form_for :order, :url => orders_populate_path, html: {id: 'new_order'} do |f| %>
          <div class="button-block">
            <div class="quantity">
              <input class="minus" type="button" value="-">
              <input class="input-text qty text" type="number" size="4" title="Qty" value="1" name="quantity" step="1" min="1" max="46">
              <%= number_field_tag :quantity, 1, :class => 'input-text qty text', :min => 1 %>
              <input class="plus" type="button" value="+">

            </div>
            <div class="button">
              <%= hidden_field_tag "variant_id", @product.master.id %>
              <%= button_tag :class => 'main-button', :id => 'add-to-cart-button', :type => :submit do %>
                <%= Spree.t(:add_to_cart) %>
              <% end %>
            </div>
            <div class="button">
              <div class="wishlist " class="add-wishlist">
              <!-- <div class="product-wishlist">
              <input name="wishlist" value="Voeg toe aan wenslijst" class="second-button" type="submit">
              </div> -->
              </div>
            </div>

            <div class="clear"></div>
          </div>
        <% end %>
      </div>

      <div class="product-details-container">
        <ul class="product-details-list slide-up-tabs">
          <li class="product-detail open">
            <%= render :partial => 'properties' %>
          </li>
        </ul>
        <ul class="product-details-list slide-up-tabs">
          <li class="product-detail open">
            <span class="title"><a href="#">Supplier</a></span>
            <ul style="display: block;" class="tabblad">
              <li>
                <div class="tabinhoud" id="product-properties">
                  <%= link_to @product.try(:supplier).try(:name), "/supplier/#{@product.try(:supplier).try(:link)}" %>
                </div>
              </li>
            </ul>
          </li>
        </ul>

        <span>Deel op:</span>

        <%= render "shared/social_links" %>

        <p>
          Artikelnummer leverancier: 100001063 - Hulp nodig?
          <a class="klantcontact" href="/">Neem contact op</a>
        </p>
      </div>

  </div>
</div>

<div id='cover'></div>
<% end %>
