<% cache [I18n.locale, current_currency, @product] do %>

<div class="content">
  <div class="product-images">
    <a class="terug-link" href="/products">«&nbsp;Terug naar overzicht</a>

    <div class="thumbnails" class="">
      <div class="up-arrow"><span class="thumbnails-arrow"></span></div>

      <%= render :partial => 'thumbnails' %>
    </div>

    <div class="large-image">
      <%= render :partial => 'image' %>
      <br />
      Klik om te zoomen
      </div>

    </div>

    <div class="product-info"
         data-id='<%= @product.id %>'
         data-url='<%= @product.slug %>'
         data-name='<%= @product.name %>'
         data-price='<%= @product.master.price %>'
         data-variant-id='<%= @product.master.id %>'
         data-image-url='<%= @product.variant_images.first.attachment.url(:mini) %>'>

      <div class="product-details">
        <h1 class="product-title" itemprop="name"><%= accurate_title %></h1>
        <% taxon = @product.taxons.select{|t| t.parent_id == 2}.first %>>
        <h2><%= link_to taxon.name, taxon.permalink %></h2>

        <span class="price strike"><%= number_to_currency(@product.strike_price, precision: 2) %> </span>&nbsp;&nbsp;
        <span class="price discount"><%= display_price(@product) %></span>
      </div>

      <div class="description" itemprop="description">
        <span>Beschrijving</span><br />
        <%= product_description(@product) rescue Spree.t(:product_has_no_description) %>
      </div>

      <div class="viewmore product-actions-wrapper">
        <span class="response-message"></span>
        <form>
          <div class="button-block">
          <div class="quantity">
            <input class="minus" type="button" value="-">
            <input class="input-text qty text" type="number" size="4" title="Qty" value="1" name="quantity" step="1" min="1" max="46">
            <%# number_field_tag :quantity, 1, :class => "input-text qty text", :min => 1 %>
            <input class="plus" type="button" value="+">

          </div>
          <div class="button">
            <input name="shoppingBag" value='Add to cart' class="main-button">
          </div>
          <div class="button">
          <div class="wishlist " class="add-wishlist">
          <!-- <div class="product-wishlist">
          <input name="wishlist" value="Voeg toe aan wenslijst" class="second-button" type="submit">
          </div> -->
          </div>
          </div>

          <div class="clear"></div>
          </div>
        </form>
      </div>

      <div class="product-details-container">
        <ul class="product-details-list slide-up-tabs">
          <li class="product-detail">
            <span class="title"><a href="#">Tabblad 1</a></span>
            <ul style="display: none;" class="tabblad">
            <li>
              <div class="tabinhoud">
              <ul>
                <li>Lorem ipsum is dummy text for printing industry</li>
                <li> At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
              </li>
              </ul>
              </div>
            </li>
            </ul>
          </li>
          <li class="product-detail open">
            <span class="title"><a href="#">Tabblad 2</a></span>
            <ul style="display: block;" class="tabblad">
            <li>
              <div class="tabinhoud">
                <%= render :partial => 'properties' %>
              </div>
            </li>
            </ul>
          </li>
          <li class="product-detail">
            <span class="title"><a href="#">Tabblad 3</a></span>
            <ul style="display: none;" class="tabblad">
            <li>
              <div class="tabinhoud">
              <ul><li>Lorem ipsum is dummy text for printing industry</li>
              <li> At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
              </li>
              </ul>
              </div>
            </li>
            </ul>
          </li>
        </ul>

        <br /><br />
        <span>Deel op:</span>

        <%= render "shared/social_links" %>

        <p>
          Artikelnummer leverancier: 100001063 - Hulp nodig?
          <a class="klantcontact" href="/">Neem contact op</a>
        </p>
      </div>
    </div>
  </div>
</div>

<% end %>
