<%
  paginated_products = @searcher.retrieve_products if params.key?(:keywords)
  paginated_products ||= products
%>
<% if defined?(taxon) && !taxon.nil? %>
<div class="title-block "><h1><%= taxon.name %></h1></div>
<% end %>
<div class="products">
  <div class="finetuning">

    <% if paginated_products.respond_to?(:num_pages) %>
      <%= paginate paginated_products, theme: 'wwi' %>
    <% end %>

    Toon per pagina&nbsp;&nbsp;
    <select class="showperpage styled" data-url="<%= spree.products_path %>">
      <%= options_for_select(['16', '32', '64', '128'], params[:per_page] || '16') %>
    </select>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Sorteren op&nbsp;&nbsp;
    <select class="sorting styled">
    <option value="Titel">Titel</option>
    <option value="Prijs">Prijs</option>
    <option value="Nieuw">Nieuw</option>
    </select>
  </div>

  <ul class="articles">
    <% products.each do |product| %>
      <% url = product_url(product, :taxon_id => @taxon.try(:id)) %>
      <li id="product_<%= product.id %>" class="columns three <%= cycle("alpha", "secondary", "", "omega secondary", :name => "classes") %>" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">
        <% cache(@taxon.present? ? [I18n.locale, current_currency, @taxon, product] : [I18n.locale, current_currency, product]) do %>
          <div class="product-image">
            <%= link_to small_image(product, :itemprop => "image"), url, :itemprop => 'url' %>
          </div>
          <div class="product_text">
            <p>
              <%= link_to truncate(product.name, :length => 50), url,
                :class => 'info', :itemprop => "name", :title => product.name %>
            </p>
            <!-- <p class="brand">
              <a href="/"> {{ product.brand }} </a>
            </p>               -->
            <!-- <span class="price strike">{{ product.strike_price }} EUR</span> -->
            <span class="discount" itemprop="price"><%= display_price(product) %></span>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>

  <div class="finetuningbottom">
    <% if paginated_products.respond_to?(:num_pages) %>
      <%= paginate paginated_products, theme: 'wwi' %>
    <% end %>

    Toon per pagina&nbsp;&nbsp;
    <select class="showperpage styled">
    <option value="6">16</option>
    <option value="32">32</option>
    <option value="64">64</option>
    <option value="128">128</option>
    <option value="Alle">Alle</option>
    </select>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Sorteren op&nbsp;&nbsp;
    <select class="sorting styled">
    <option value="Titel">Titel</option>
    <option value="Prijs">Prijs</option>
    <option value="Nieuw">Nieuw</option>
    </select>
  </div>
</div>
