<div class="sidebar">
    <div class="location">
      <h4>Choose your city</h4>
      <select class="styled">
        <option value="">All</option>
        <%= options_for_select(Spree::Supplier.all.collect(&:city).uniq) %>
      </select>
      <!-- <img src="/assets/frontend/logo_hilversum.jpg" alt="Hilversum" /> -->
    </div>

    <% max_level = Spree::Config[:max_level_in_taxons_menu] || 3 %>
    <nav id="taxonomies" class="sidebar-item" data-hook>
      <% @taxonomies.each do |taxonomy| %>
        <%# if taxonomy.name == "Categories" %>
          <% cache [I18n.locale, taxonomy, max_level] do %>
            <h4 class='taxonomy-root'><%= Spree.t(taxonomy.name) %></h4>
            <%= taxons_tree(taxonomy.root, @taxon, max_level) %>
          <% end %>
        <%# end %>
      <% end %>
    </nav>

    <h4>Kleuren</h4>
    <ul>
      <li>
      <input id="color_1" class="css-checkbox" type="checkbox" value="1">
      <label class="css-label" for="color_1">Blauw (170)</label>
      </li>
    </ul>

    <h4>Prijs</h4>

    <div class="priceblock">
      <div class="noUiSlider"></div>
      <input id="min-euro" type="text">
      <input id="max-euro" type="text">

      <div class="clearfix"></div>

      <div class="filter-reset">
        <%= image_tag('frontend/reset.png') %>
        <%= link_to 'Reset filter', '#', rel: 'no-follow' %>
      </div>
    </div>
</div>
<div class="clearfix"></div>
