<div data-hook="taxon_products">
  <%= render partial: 'shared/products', locals: { products: @products, taxon: @taxon } %>
</div>

<div class="sidebar">
  <div class="location">
    <h4>Choose your city</h4>
    <select class="styled">
      <option value="">All</option>
      <%= options_for_select(Spree::Supplier.all.collect(&:city).uniq) %>
    </select>
    <!-- <img src="/assets/frontend/logo_hilversum.jpg" alt="Hilversum" /> -->
  </div>
  <%= form_tag '', :method => :get do %>
    <%= render :partial => 'spree/shared/taxonomies' %>
    <%= render :partial => 'shared/price_filter' %>
    <%= submit_tag "filter", style: "display: none" %>
  <% end %>

</div>
