<div class='content auth'>
  <div class='content-header'>
    <h2><%= Spree.t(:new_customer) %></h2>
  </div>
  <hr/>
  <div id="new-customer" class='centeral_block'>
    <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>
    <div>
      <%= form_for resource, :as => :spree_user, :url => spree.registration_path(@user) do |f| %>
        <div data-hook="signup_inside_form">
          <%= render :partial => 'spree/shared/user_form', :locals => { :f => f } %>
          <div class="actions">
            <div class="alternative">
              <%= Spree.t(:or) %>&nbsp;<%= link_to Spree.t(:login_as_existing), spree.login_path %>
            </div>
            <div style="main-actions">
              <%= f.submit Spree.t(:create), :class => 'main-button' %>
            </div>
            <div class='clearfix'/>
          </div>
        </div>
      <% end %>
    </div>
    <div data-hook="login_extras"></div>
  </div>
</div>
