<div class="control-group">
  <%= f.label :email, Spree.t(:email) %><br />
  <%= f.email_field :email, :class => 'opc-input-text' %>
</div>
<div class='control-group password'>
  <%= f.label :password, Spree.t(:password) %><br />
  <%= f.password_field :password, :class => 'opc-input-text' %>
</div>
<div class='control-group password'>
  <%= f.label :password_confirmation, Spree.t(:confirm_password) %><br />
  <%= f.password_field :password_confirmation, :class => 'opc-input-text' %>
</div>

<div data-hook="signup_below_password_fields"></div>
